<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <title>Detalle del producto</title>
  </head>

  <body>
    <%- include('../partials/header.ejs')%>
    <content>
      <div class="content__imagenes">
        <img src="/img/products/<%= productDet.url_foto %>" alt="" />
      </div>
      <div class="content__descripcion">
        <div class="content__descripcion--titulo">
          <h1><%= productDet.nombre%></h1>
          <h4><%= productDet.marca.nombre%></h4>
          <p>C칩digo de Articulo: 0000123</p>
          <h1 class="content__descripcion--precio">$<%= productDet.precio%></h1>
          <br>
          <h4><strong>Descripci칩n:</strong></h4>
          <p><%= productDet.descripcion%></p>
          <br>
        </div>
        
        <div class="content__pagos">
          <hr />
          <div class="content__pagos--opciones">
            <div>
              <i class="fas fa-credit-card"></i>
              <a href="#">Ver opciones de pago</a>
            </div>
            <div>
              <i class="fas fa-truck"></i>
              <a href="#">Ver medios de envio</a>
            </div>
          </div>
          <hr />
        </div>
        <div class="content__talles">
          <h4>Talle disponible </h4>
          <button><%= productDet.talle.toUpperCase() %></button>
          
        </div>
        <div class="agregarCarrito">
            <p> <i class="fa fa-cart-plus" aria-hidden="true"></i>
              Agregar al Carrito</p>
            <!-- <button>
              <p>Agregar al Carrito</p>
            </button> -->
        </div>
      </div>
    </content>
   
    <section id="banner__seleccion" class="d-flex-c centrado">
      <p class="banner__selec--txt">Alent치 a la selecci칩n con</p>
      <img src="/img/logo.png" alt="LA CASACA" class="banner__ppal--img-logo" />
    </section>
  
  </body>
  <%- include('../partials/footer.ejs')%>
  <script src="/js/loadComponent.js"></script>
</html>
